/**
 * my custom tags
 * Author: Pierre Buesser
 */
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
/**
 * Custom tags to add color and font easily by Pierre Buesser
 */

/*********************************************
 * CUSTOM TAGS, to add colors and courier font easily
 *********************************************/
red{color: red}
		blue{color: blue}
		green{color: green}
		tomato{color: tomato}
		cr{color: red; font-family: "courier"}
		cb{color: blue; font-family: "courier"}
		cg{color: green; font-family: "courier"}
		cdb{color: darkblue; font-family: "courier"}
		cblack{color: black; font-family: "courier"}
		ctomato{color: tomato;  font-family: "courier"}
/* 		mycode est supposé garder la couleur de base: */
		mycode{font-family: "courier"; text-align: "left"}
		
		big{font-size: 200%;}
		big2{font-size: 400%;}
				
/*********************************************
 * POSITION class, to place an image far on the right
 *********************************************/			
		/*  right text */
		
.my-left {
display:inline-block;
 z-index: 6;
}		
		
.my-right {
  position: relative;
  z-index: 2;
   top: -20px; 
  right: -10px; /* -100 */
 
/*    height: 150px; */
/*    width: 150px; */  
display:inline-block;

}


.align-left {
text-align: left;
}



/* utile pour le placemnt d'un texte sous une image: */

.images {
    text-align:left;
    align:right;
}
/* 
.images img {
    width:150px;
     height:100px; 
}
 */
.images div {
/*     width:150px; */
    text-align:center;
}
.images div span {
    display:block;
}
.margin_right {
    margin-right:20px;
}
.margin_left {
    margin-left:50px;
}
.margin_top {
    margin-left:10px;
}
.margin_bottom {
    margin-left:10px;
}
.float {
    float:right;
}
.clear {
    clear:both;
    height:0;
    width:0;
}




/*********************************************
 * SIZE class, to change size of any tag
 *********************************************/
.taille150{font-size: 150%}
.taille130 {font-size: 130%}
.taille100{font-size: 100%}
.taille75{font-size: 75%}
.taille50{font-size: 50%}
.taille25{font-size: 25%}


/*********************************************
 * attributs custom des paragraphes utilisation : class="taille150" etc
 *********************************************/		 
p.taille150{font-size: 150%}
p.taille130 {font-size: 130%}
p.taille100{font-size: 100%}
p.taille75{font-size: 75%}
p.taille50{font-size: 50%}

p.taille12pt{font-size: 12pt;}
p.taille50px {font-size: 50px;}
p.taille2mm{font-size: 2mm;}




